.mikazuki-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #ffffff;
  font-weight: 300;
}

.mikazuki-slogan {
  font-size: 100px;
  padding-top: 200px;
  letter-spacing: 10px;
}

.mikazuki-sub-slogan {
  font-size: 24px;
  padding-top: 24px;
  letter-spacing: 3px;
}

@media (max-width: 900px) {
  .mikazuki-section {
    height: 350px;
  }

  .android-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .android-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }
}

.mikazuki-section {
  position: relative;
  height: 600px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/hero.jpg') center 30% #ccc no-repeat;
  background-size: cover;
}

