.works-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.store_link {
    overflow: hidden;
    background: transparent;
    vertical-align: middle;
    text-align: center;
  }

   .store_link img {
      width: 80%;
      margin-bottom: 10px;
    }

 .store_link__actions {
    bottom: 0;
  }

  .works-description {
    text-align: left;
  }
